<% include ./partials/header %>

	    <div class="row">
    	<div class="col-lg-12">

                            <!-- Traffic sources -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h1 class="panel-title"><%= doctors.name %>'s Information</h1>
                                    <div class="heading-elements">
                                        <span><i class="icon-bell2"></i></span>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="row">
                                        

                                        <div class="col-lg-12">
                                            <table class = "table table-striped table-bordered table-hover table-responsive box-shadow-table">

                                                 <thead class = "thead-inverse">
                                                    <tr><th><h5>Name</h5></th><td><strong><%= doctors.name %></strong></td></tr>
                                                    <tr><th><h5>Email</h5></th><td><strong><%= doctors.username %></strong></td></tr>
                                                    <tr><th><h5>CNIC  No</h5></th><td><strong><%= doctors.cnic %></strong></td></tr>
                                                    <tr><th><h5>Age</h5></th><td><strong><%= doctors.age %></strong></td></tr>
                                                    <tr><th><h5>Gender</h5></th><td><strong><%= doctors.gender %></strong></td></tr>
                                                    <tr><th><h5>Contact</h5></th><td><strong><%= doctors.num %></strong></td></tr>
                                                    <tr><th><h5>Qualification</h5></th><td><strong><%= doctors.qualification %></strong></td></tr>
                                                    <tr><th><h5>Hospital</h5></th><td><strong><%= doctors.specialization %></strong></td></tr>
                                                    <tr><th><h5>Description</h5></th><td><strong><%= doctors.description %></strong></td></tr>
                                                </thead>
                                                <tbody>
                                                    <tr></tr>
                                                </tbody>    
                                            </table>        

                                        </div>

                                    </div>
                                </div>

                                <div class="position-relative" id=""></div>
                            </div>
                            <!-- /traffic sources -->
                        </div>
    </div>	

<% include ./partials/footer %>
