<% include ./partials/header %>


                    <!-- Main charts -->
                    <div class="row">
                        <div class="col-lg-10">

                            <!-- Traffic sources -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h1 class="panel-title">DIABETES LEVELS</h1>
                                    <div class="heading-elements">
                                        <span><i class="icon-bell2"></i></span>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <!-- <div class="row">
                                        

                                        <div class="col-lg-12"> -->

                    <form action="/sugarlevel<%= currentUser.id %>" method = "post">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="panel registration-form">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <!-- <div class="icon-object border-success text-success"> --><img height="120" width="150" src="assets/images/logo/logo.png"><!-- </div> -->
                                            <h5 class="content-group-lg">Diabetes Levels</h5>
                                        </div>
                                <div class="row">
                                
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback">
                                            <h2 class = "content-group-lg">Select Date</h2>
                                            <input type = "date" name = "date1" class = "form-control" max = "<%= today %>" min = "<%= minimum %>">
                                            <div class="form-control-feedback">
                                                <!-- <i class="icon-user-plus text-muted"></i> -->
                                                <span class = "fa fa-envelope"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class = "col-md-6">
                                        <div class="form-group has-feedback">
                                            <h2 class = "content-group-lg text-right">Sugar Level</h2>
                                            <input type = "number" name = "num" placeholder = "Sugar Level" class = "form-control" value = "<%= numb %>" required>
                                        </div>
                                    </div>   
                                </div>
<!--                                 <div class= "row">
                                    <div class = "col-md-6">
                                        <div class="form-group has-feedback">
                                        <h2 class = "content-group-lg">Via Picture</h2>
                                          <form class="modal-body" action="/addsugarlevelviapicture<%= currentUser.id %>" method = "post" encType='multipart/form-data'>
                                            <input type = "file" name = "avatar" class="file-input-extensions form-control btn btn-block btn-default">

                                          </form>  
                                        </div>
                                     </div> 
                                </div> -->
                                        
                                        <div>
                                            <a href="#" data-toggle="modal" data-target="#modal-sugar">Post Via Image</a>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b> Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

<!--                
                                        </div>  
                                    </div> -->
                                </div>

                                <div class="position-relative" id=""></div>
                            </div>
                            <!-- /traffic sources -->

                        </div>

                    </div> 
                    <div class="container">
                    <div id="modal-sugar" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content login-form">
                                <!-- Form -->
                                <form class="modal-body" action="/sugarlevelviapicture<%= currentUser.id %>" method = "post" encType='multipart/form-data'>
                                    <div class="text-center">
                                        <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                                        <h5 class="content-group">Add Sugar Level Via OCR <small class="display-block"></small></h5>
                                    </div>

                                    <!-- <div class="form-group has-feedback">
                                        <input type="email" class="form-control" placeholder="Your email">
                                        <div class="form-control-feedback">
                                            <i class="icon-mail5 text-muted"></i>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                
                                <div class="form-group">
                                    <div class="col-lg-10">
                                    <h2 class = "content-group-lg">Sugar Level</h2>
                                        <input type="file" class="form-control btn btn-block btn-default" name = "avatar">
                                        <span class="help-block">Only <code>png</code> extensions are allowed.</span>
                                    </div>
                                </div>   
                                </div>
                                
                                    <button type="submit" class="btn bg-blue btn-block">Update <i class="icon-circle-right2 position-right"></i></button>
                                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                                </form>
                                <!-- /form -->
                              </div>
                            </div>
                        </div>
                    </div>  

<% include ./partials/footer %>
